<div class='div'>	
	<div class='header'>
		<h1 id='title'>White Paradise</h1>
		<h2>A story behind the <span>human</span> cost of cocaine.</h2>
	</div>

	<div id='menu'>
		| <span id='home-button'>Home</span> | 
		<span id='production-button'> Production by Year</span> | 
		<span id='year-button'> Summary By Year</span> | 
		<span id='about-button'> About us</span> | 
	</div>
</div>

<div class='div' id='counters'>
	<div id='f-count'>From Year: <span id="firstyear"></span></div>
	<div id='y-count'>Until Year: <span id="year-counter"></span></div>
	<div id='p-count'>Colombian Cocaine Production: <span id="production-counter"></span></div>
	<div id='r-count'>Total IDP (Internally displaced people): <span id="refugee-counter"></span></div>
</div>


<!-- ############### -->
<!-- #####PAGES##### -->
<!-- ############### -->
<div class='div' id='about-us'>
	<h1>About Us</h1>

	<h3>Why White Paradise?</h3>
	<p>The idea was born after we had a conversation about how much stigma there was around being a Colombian.</p>
	<p>There is this misconception around Colombians being cocaine users and being an intentional part of the drug treading</p>
	<p>In reality Colombians not only live with the stigma outside of their country but also live in a country distroyed</p>
	<p>by war and drug money.</p>
	<p>We wanted to visualize the direct relation between drug production and human displazement, homicide and war</p>
	<p>We want to tell the world that Colombians are not the root but the victims of the cocaine market.</p>

	<h3>Who are we?</h3>
	<p>Camila Cano: Developer and Creator</p>
	<p>Abby Isaacs: Data Researcher and Data Analist</p>
	<p>Daniel Cano: Historian</p>

	<h3>Acknowledge</h3>
	<p>Developed at General Assembly in New York City as part of the Web Development Immersive Program</p>
	<p>Inspired by this great infographic: http://drones.pitchinteractive.com</p>

	<h3>References</h3>
</div>

<div class='div' id='graph'>
	<div id='graph1'></div>
	<div id='axis'></div>
	<div id='graph2'></div>	
	<div id='event-container'></div>
</div>

<div class='div' id='production'>
	<h3>Cocaine Production by Year</h3>
	<div id='prod-legend'></div>
	<div id='prod'></div>
</div>

<div class='div' id='by-year'>
	<h3 id='year-year'></h3>
	<div class='summary-div'>
		<div>
			<div id'content-left'>
				<h2>Production</h2>
				<div id='prod-year'></div>
			</div>
			<div>
				<h2>Price: <span>$</span></h2>
			</div>
			<div>
				<h2>Homicides: <span id='hom-year'></span></h2>
				<h2>Displaced People: <span id='idp-year'></span></h2>
			</div>
		</div>	
	</div>
	<div class='summary-div'>
		<div id='event-year'>
		</div>
	</div>
</div>


