<div id='total-content'>
	<div class='div'>	
		<div class='header'>
			<h1 id='title'>White Paradise</h1>
			<h2>A story behind the <span>human</span> cost of cocaine.</h2>
		</div>

		<div id='menu'>
			| <span id='home-button'>Home</span> | 
			<span id='production-button'> Production by Year</span> | 
			<span id='about-button'> About us</span> | 
		</div>
	</div>

	<div class='div' id='counters'>
		<div id='f-count'>From Year: <span id="firstyear"></span></div>
		<div id='y-count'>Until Year: <span id="year-counter"></span></div>
		<div id='p-count'>Colombian Cocaine Production: <span id="production-counter"></span></div>
		<div id='r-count'>Total IDP (Internally displaced people): <span id="refugee-counter"></span></div>
	</div>
	
	<div class='div' id='about-us'>
		<h3 id='title'>About Us</h3>

		<div>
			<h2>Why White Paradise?</h2>
			<p>The idea for this infographic was born from a conversation about how much stigma there is around being a Colombian.</p>
			<p>There is a widely held misconception that all Colombians are cocaine users and an intentional part of the drug trade.</p>
			<p>In reality, not only is this undeserved, but Colombia has been ravaged by war and violence and set off balance by drug money.</p>
			<p>We wanted create a visualization of the direct relationship between drug production and human displacement, homicide, and war.</p>
			<p>We want to show the world that Colombians are victims of the cocaine market.</p>

			<h2>Who are we?</h2>
			<p><span>Camila Cano</span>: Developer and Creator.</p>
			<p><span>Abby Isaacs</span>: Data compilation.</p>
			<p><span>Daniel Cano</span>: Historic Compilation.</p>

			<h2>References</h2>
			<p><a href='http://www.unodc.org/unodc/en/data-and-analysis/homicide.html' target='blank'>Homicide rates in Colombia</a></p>
			<p><a href='http://www.dps.gov.co/documentos/Retornos/CIDH%20Desplazamiento%20Forzado%20en%20Colombia%20Marzo%202010%20para%20Canciller%C3%ADa1.pdf' target='blank'>Internally displaced people</a></p>
			<p><a href="http://www.whitehouse.gov/sites/default/files/ondcp/policy-and-research/2013_data_supplement_final2.pdf" target='blank'>Cocaine production</a></p>
			<p><a href="http://www.unodc.org/documents/data-and-analysis/tocta/TOCTA_Report_2010_low_res.pdf" target='blank'>The size of the US cocaine market</a></p>

		</div>
		
		<div>
			<br>
			<br>
			<br>
			<h3>Acknowledgements</h3>
			<%= image_tag("ga.png") %>	
			<h4>Developed at <span>General Assembly</span> as part of the Web Development Immersive Program</h4>
			<h4>Inspired by this <span>great infographic!</span> http://drones.pitchinteractive.com</h4>
			<h4>Special Thanks to Francesca Wedemeyer for her amazing vision and pasion for graphic design</h4>
		</div>
	</div>

	<div class='div' id='graph'>
		<div><h2>Cocaine Production (<span id='green'>Total</span>, <span id='dark'>Colombia</span>) vs. Victims of the war (<span id='yellow'>IDP</span>, <span id='orange'>Homicides</span>)</h2></div>
		<div id='graph1'></div>
		<div id='axis'></div>
		<div id='graph2'></div>	
		<div id='event-container'></div>
	</div>

	<div class='div' id='production'>
		<h3>Cocaine Production by Year</h3>
		<div id='prod-legend'></div>
		<div id='prod'></div>
	</div>

	<div class='div' id='by-year'>
		<h3 id='year-year'></h3>
		<div class='summary-div'>
			<div>
				<div id'content-left'>
					<h2>Production</h2>
					<div id='prod-year'></div>
				</div>
			<!-- 	<div>
					<h2>Price: <span>$</span></h2>
				</div> -->
				<div>
					<h2>Homicides: <span id='hom-year'></span></h2>
					<h2>Displaced People: <span id='idp-year'></span></h2>
				</div>
			</div>	
		</div>
		<div class='summary-div'>
			<div id='event-year'>
			</div>
		</div>
	</div>
</div>

<div class='div'>
	<br>
	<br>
	<p id='intro'><strong>Coca:</strong> A sacred plant that has been used by people in <span>South America </span>for centuries.</p>
	<br>
	<p id='introb'><strong>Coca</strong> is the main ingredient in <strong>cocaine</strong> and has become a very sought after plant which has ignited a bloody war funded by cocaine money.</p>
	<br>
	<p id='introc'>As a consequence of this war many people in <span>Colombia</span> are faced with two options:</p>
	<br>
	<p id='introd'>Become part of the cocaine production <strong>industry</strong> and the war that goes with it or leave their land behind to find a place where they can live in <span>peace</span>.</p>
	<br>
	
	<%= image_tag("arrow.png", id: "introe") %>
</div>

