body {
	background: black;
	color: white;
	font-family: 'Sintony';
	div {
		width: 100%;
	}
}

nav span:hover {
	cursor: pointer;
}

#year {
	font-size: 10px;
	width: 35px;
}

#year-axis {
	display: inline;
}

div {
	display: inline-block;
}

.right {
	width: 25%;
}

.left {
	width: 48%;
}

div span {
	color: red;
}

.right {
	float: right;
}

.bar_total {
	fill: blue;
}

.bar_total:hover {
	fill: darkblue;
}

.bar_refugee {
	fill: orange;
}

.bar_refugee:hover {
	fill: orangered;
}

.d3-tip {
  width: 300px;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 2px;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

