body {
	background: black;
	color: white;
	font-family: 'Sintony';
	div {
		width: 100%;
	}
}

nav span:hover {
	cursor: pointer;
}

#year {
	font-size: 10px;
	width: 35px;
}

#year-axis {
	display: inline;
}

div {
	display: inline-block;
}

.right {
	width: 25%;
}

.left {
	width: 48%;
}

div span {
	color: red;
}

.right {
	float: right;
}

.bar_total {
	fill: blue;
}

.bar_total:hover {
	fill: mediumblue;
}

