body {
	background: url(sandpaper.png);
	color: #3B4044;
	font-family: 'Sintony';
  padding: 17px;
  
  h1, h2, p {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 20px;
  }
  div {
  display: inline-block;
  }
}

.header{
  margin-bottom: 20px;
  p {
    color: #E27A3F;
  }
}


#menu {
  margin: 10px;
  float: right;
  padding-left: 20px;
  span {
    text-align: center;
    font-size: 18px;
  }
  
  span:hover {
    cursor: pointer;
    color: #E27A3F;
  }
}

#counters {
  padding: 20px;
  color: #D1CDC4;
  background-color: #3B4044;
  font-size: 20px;
  span {
    color: #E27A3F;
  }
  div {
    padding: 5px;
  }
}

#f-count{
  width: 170px;
  float: left;
}

#y-count{
  width: 170px;
  float: left;
}

#p-count{
  width: 340px;
  float: right;
}

#r-count{
  width: 490px;
  float: right;
}

#year {
	font-size: 10px;
	width: 35px;
}

#year-axis {
	display: inline;
}

.right {
	width: 25%;
}

.left {
	width: 48%;
}

.right {
	float: right;
}

.bar_total {
	fill: blue;
}

.bar_total:hover {
	fill: darkblue;
}

.bar_refugee {
	fill: orange;
}

.bar_refugee:hover {
	fill: orangered;
}

.d3-tip {
  width: 300px;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 2px;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.event_text {
  font-size: 12px;
}

.event-tip {
  width: 300px;
  line-height: 1;
  font-size: 12px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 2px;
  text-align: left;
}

/* Creates a small triangle extender for the tooltip */
.event-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.event-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#production{
  width: 100%;
}

#production div{
  width: 100px;
}













